/* 
        CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *::after, *::before{
    margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 

    MAIN

*/
.main-container{
    text-align: center;
    margin: 2em auto;
    width: 80%;
    max-width: 960px;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 15px;
    padding: 2em;
    box-sizing: border-box;
}

.text-container{
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 1.5em;
}
.text-container h1{
    font-size: 4rem;
    margin-bottom: 0.1em;
}
.text-container h2{
    font-size: 2rem;
}

.control-container{
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.control-container div{
    margin: 0.4em 0.4em;
}
.control-container button, .color-picker input{
    font-size: 1.1rem;
    font-family: 'Architects Daughter', cursive;
    width: 100px;
    height: 40px;
    background-color: burlywood;
    border-radius: 5px;
}
.control-container button:hover, .color-picker input:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.clear button{
    background-color: cornsilk;
}

.grid-container{
    margin: 0 auto;
    font-size: 0;
    width: 640px;
    height: 640px;
}

.grid{
    display: inline-block;
    box-sizing: border-box; 
    border: 1px solid black;
}